.app {
  height: 100vh;
  display: flex;
  background-color: #020230;
  color: white;
}

.main {
  width: 75%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #020230),
    url(./assets/bg.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.top {
  height: 50%;
  position: relative;
}

.timer {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 5px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  bottom: 10px;
  left: 80px;
}

.bottm {
  height: 50%;
}

.trivia {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.question {
  width: 80%;
  padding: 20px;
  background: linear-gradient(#020230, black);
  border: 3px solid #fff;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  margin-bottom: 40px;
}

.answers {
  width: 87%;
  display: flex;
  justify-content: space-around;
}

.answer {
  width: 100%;
  padding: 12px;
  text-align: center;
  background: linear-gradient(#0e0124, #22074d);
  border: 1px solid white;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 300;
  margin: 0 10px 20px 10px;
  cursor: pointer;
}

.answer:hover,
.answer.active {
  background: mediumblue;
}

.pyramid {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.moneyList {
  list-style: none;
  width: 100%;
  padding: 20px;
}

.moneyListItem {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}

.moneyListItem.active {
  background-color: teal;
}

.moneyListItem {
  font-size: 18px;
  font-weight: 100;
}

.moneyListItemNumber {
  font-size: 18px;
  font-weight: 100;
  width: 30%;
  margin-right: 20px;
}

.moneyListItemAmount {
  font-size: 20px;
  font-weight: 300;
}
